flows2.json
[
    {
        "id": "a06c49eaf75bea17",
        "type": "tab",
        "label": "jardin2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a42c64587e86e149",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "Vsys",
        "topic": "PicoW2/Vsys",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "b88ed0a2bee8a4fe"
            ]
        ]
    },
    {
        "id": "b88ed0a2bee8a4fe",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.payload =p;\nmsg.topic=\"Vsys\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "d3a34a0abedd7b4d",
                "bf37945b5c4d0ee2",
                "a8a2038306db92e7"
            ]
        ]
    },
    {
        "id": "d3a34a0abedd7b4d",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "Vsys",
        "group": "614f2a918f5faf20",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Vsys",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "4.5",
        "colors": [
            "#b30012",
            "#00ff00",
            "#fffc41"
        ],
        "seg1": "3.5",
        "seg2": "4.0",
        "className": "",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "bf37945b5c4d0ee2",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "614f2a918f5faf20",
        "order": 12,
        "width": 9,
        "height": 5,
        "label": "Tableau quotidien",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "3",
        "ymax": "5.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": [
            []
        ],
        "inputLabels": [
            "Heure"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "a8a2038306db92e7",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "614f2a918f5faf20",
        "order": 14,
        "width": 10,
        "height": 5,
        "label": "Tableau hebdomadaire",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "3",
        "ymax": "5.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ],
        "inputLabels": [
            "Semaine"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "afea8b9ab319ed2f",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "Vsolar",
        "topic": "PicoW2/Vsolar",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "39206c9fa012db0c"
            ]
        ]
    },
    {
        "id": "39206c9fa012db0c",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.topic=\"Solaire\";\nmsg.payload =p * 1.08;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 340,
        "wires": [
            [
                "b1b34904085aa28f",
                "bf37945b5c4d0ee2",
                "a8a2038306db92e7"
            ]
        ]
    },
    {
        "id": "b1b34904085aa28f",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "Solaire",
        "group": "614f2a918f5faf20",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Solaire",
        "label": "V",
        "format": "{{value| number:3}}",
        "min": 0,
        "max": "4.5",
        "colors": [
            "#b30012",
            "#00ff00",
            "#fffc41"
        ],
        "seg1": "3.5",
        "seg2": "4.0",
        "className": "",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed0979be19096862",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "temp",
        "topic": "PicoW2/DS18B20_0",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "64b7ae92fc09d2eb"
            ]
        ]
    },
    {
        "id": "64b7ae92fc09d2eb",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.payload =p;\nmsg.topic=\"sol\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "c9c55667a68adcc3",
                "a4eeff8cd48c5937",
                "14fc6a8220727350"
            ]
        ]
    },
    {
        "id": "c9c55667a68adcc3",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "temperature",
        "group": "c2c964ab227a94fd",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "température du sol",
        "label": "°C",
        "format": "{{value| number:2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#008cb4",
            "#00ff00",
            "#e32400"
        ],
        "seg1": "10",
        "seg2": "35",
        "className": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "a4eeff8cd48c5937",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "c2c964ab227a94fd",
        "order": 10,
        "width": 11,
        "height": 5,
        "label": "Tableau quotidien",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": [
            []
        ],
        "inputLabels": [
            "Heure"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "14fc6a8220727350",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "c2c964ab227a94fd",
        "order": 11,
        "width": 9,
        "height": 5,
        "label": "Tableau hebdomadaire",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ],
        "inputLabels": [
            "Semaine"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "f4ad8fe762f2387e",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "cpu",
        "topic": "PicoW2/TempCPU",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "a5caee7f00cd4683"
            ]
        ]
    },
    {
        "id": "a5caee7f00cd4683",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.payload =p;\nmsg.topic=\"CPU\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 720,
        "wires": [
            [
                "89cdeac6933281cc",
                "a4eeff8cd48c5937",
                "14fc6a8220727350"
            ]
        ]
    },
    {
        "id": "89cdeac6933281cc",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "CPU",
        "group": "c2c964ab227a94fd",
        "order": 5,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "cpu",
        "label": "°C",
        "format": "{{value|number:2}}",
        "min": "10",
        "max": "60",
        "colors": [
            "#006d8f",
            "#00ff00",
            "#fffc41"
        ],
        "seg1": "20",
        "seg2": "50",
        "className": "",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "ec5ab3f6dfaefa37",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "Moist",
        "topic": "PicoW2/Vomist_0",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 860,
        "wires": [
            [
                "a790a6b4bfd2ee98"
            ]
        ]
    },
    {
        "id": "a790a6b4bfd2ee98",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\n// convert volt in % humidity\nv = (p * -89.84725966) + 180.8625337;\nif(v<0) \n   v = 0.0\nif(v>100)\n   v = 100.0\nmsg.topic=\"sol humidité\";\nmsg.payload =v;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 860,
        "wires": [
            [
                "0dcdfcb004ebcb74",
                "8a10317149a29369",
                "66d7a3043528f8c8"
            ]
        ]
    },
    {
        "id": "0dcdfcb004ebcb74",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "moisture",
        "group": "1fc191a1c8d918c1",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humidité du sol",
        "label": "%",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff6a00",
            "#00ff00",
            "#004d65"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 720,
        "y": 860,
        "wires": []
    },
    {
        "id": "8a10317149a29369",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "1fc191a1c8d918c1",
        "order": 9,
        "width": 11,
        "height": 5,
        "label": "Tableau quotidien",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1000,
        "wires": [
            []
        ],
        "inputLabels": [
            "Heure"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "66d7a3043528f8c8",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "1fc191a1c8d918c1",
        "order": 10,
        "width": 9,
        "height": 5,
        "label": "Tableau hebdomadaire",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 1060,
        "wires": [
            []
        ],
        "inputLabels": [
            "Semaine"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "834feee9af12d49f",
        "type": "inject",
        "z": "a06c49eaf75bea17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "2cefb9fc6ae09662"
            ]
        ]
    },
    {
        "id": "2cefb9fc6ae09662",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "Reset",
        "func": "\nmsg.payload=[];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "66d7a3043528f8c8",
                "8a10317149a29369",
                "14fc6a8220727350",
                "a4eeff8cd48c5937",
                "a8a2038306db92e7",
                "bf37945b5c4d0ee2"
            ]
        ]
    },
    {
        "id": "5d833d221bf794e6",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "bme temp",
        "topic": "PicoW2/bmeT",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "cf7f3309c20b021e"
            ]
        ]
    },
    {
        "id": "cf7f3309c20b021e",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\nmsg.payload =p;\nmsg.topic=\"bme280\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "5d8b486e2f590aaa",
                "a4eeff8cd48c5937",
                "14fc6a8220727350"
            ]
        ]
    },
    {
        "id": "5d8b486e2f590aaa",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "bme280 temperature",
        "group": "c2c964ab227a94fd",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "bme280 température ",
        "label": "°C",
        "format": "{{value| number:2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#008cb4",
            "#00ff00",
            "#e32400"
        ],
        "seg1": "10",
        "seg2": "35",
        "className": "",
        "x": 760,
        "y": 520,
        "wires": []
    },
    {
        "id": "4708c3548b9ea680",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "bme Moist",
        "topic": "PicoW2/bmeH",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 940,
        "wires": [
            [
                "e15cd1657523ed42"
            ]
        ]
    },
    {
        "id": "e15cd1657523ed42",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\n// convert volt in % humidity\n\nmsg.topic=\"bme humidité\";\nmsg.payload =p;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 940,
        "wires": [
            [
                "d1222c7ee6785414",
                "8a10317149a29369",
                "66d7a3043528f8c8"
            ]
        ]
    },
    {
        "id": "d1222c7ee6785414",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "moisture",
        "group": "1fc191a1c8d918c1",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "bme280 Humidité",
        "label": "%",
        "format": "{{value| number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff6a00",
            "#00ff00",
            "#004d65"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 720,
        "y": 920,
        "wires": []
    },
    {
        "id": "11d713ce1bb11731",
        "type": "mqtt in",
        "z": "a06c49eaf75bea17",
        "name": "bme pression atmosphérique",
        "topic": "PicoW2/bmeP",
        "qos": "2",
        "datatype": "auto",
        "broker": "adf8529c6d2d149a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1320,
        "wires": [
            [
                "196f84c4ceb8f1a6"
            ]
        ]
    },
    {
        "id": "196f84c4ceb8f1a6",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "",
        "func": "p= Number(msg.payload);\n//if(isNaN(p))\n//    return null;\n// convert volt in % humidity\n\nmsg.topic=\"bme atm. pression\";\nmsg.payload =p/10.0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "dc3d2de2a06dd05c",
                "89ab1bd4a8166c8a",
                "02a7a43d5c954888"
            ]
        ]
    },
    {
        "id": "dc3d2de2a06dd05c",
        "type": "ui_gauge",
        "z": "a06c49eaf75bea17",
        "name": "Pression atmosphérique",
        "group": "fb61283774847141",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "bme Pression",
        "label": "kPa",
        "format": "{{value| number:1}}",
        "min": "30",
        "max": "110",
        "colors": [
            "#ff6a00",
            "#00ff00",
            "#004d65"
        ],
        "seg1": "90",
        "seg2": "105",
        "className": "",
        "x": 770,
        "y": 1260,
        "wires": []
    },
    {
        "id": "89ab1bd4a8166c8a",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "fb61283774847141",
        "order": 8,
        "width": 10,
        "height": 5,
        "label": "Tableau quotidien",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1320,
        "wires": [
            []
        ],
        "inputLabels": [
            "Heure"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "02a7a43d5c954888",
        "type": "ui_chart",
        "z": "a06c49eaf75bea17",
        "name": "",
        "group": "fb61283774847141",
        "order": 9,
        "width": 10,
        "height": 5,
        "label": "Tableau hebdomadaire",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 1380,
        "wires": [
            []
        ],
        "inputLabels": [
            "Semaine"
        ],
        "outputLabels": [
            "Temp(°C)"
        ]
    },
    {
        "id": "dbfcdae8bcfd120e",
        "type": "inject",
        "z": "a06c49eaf75bea17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1440,
        "wires": [
            [
                "11216fc52df4992a"
            ]
        ]
    },
    {
        "id": "11216fc52df4992a",
        "type": "function",
        "z": "a06c49eaf75bea17",
        "name": "Reset",
        "func": "\nmsg.payload=[];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1440,
        "wires": [
            [
                "89ab1bd4a8166c8a",
                "02a7a43d5c954888"
            ]
        ]
    },
    {
        "id": "ed76da94e601bafc",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "c2c964ab227a94fd",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "86aac797cb3764ae",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "c2c964ab227a94fd",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "019dbd2f80ee2acb",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "c2c964ab227a94fd",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "222aec8a6b3e4f34",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "c2c964ab227a94fd",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "770841ce186d2491",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "c2c964ab227a94fd",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "60ea8e0631b2ca74",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "c2c964ab227a94fd",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "471f165e5e375255",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ffb384c8bad95db",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "f11821ada99bd278",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "1242ff404377a366",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a37bbf5e4712908c",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "0cda08837051caf0",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "45dd29178b7b620b",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1e830a0bc55eaab",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "afcfecc6a168a57e",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "a6d589ced15d57f8",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ed3e9280cee1687",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "f75bb3a6a56bdc44",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "9177e8c7d5210852",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a8cdae851a3ea2b",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "614f2a918f5faf20",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "197e5f652de44113",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "1fc191a1c8d918c1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e52b202b4a914e3",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "1fc191a1c8d918c1",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "b31986e3ed71768f",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "1fc191a1c8d918c1",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "0de99a61e1b55188",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "1fc191a1c8d918c1",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "7ef9aa1c82f1778a",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "1fc191a1c8d918c1",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc9b1fa7a0ca4458",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "1fc191a1c8d918c1",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "66f19a252e796724",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "fb61283774847141",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "170bd826f2611686",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "fb61283774847141",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "5187c0ac20c0cac5",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "fb61283774847141",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "a5976a87cf72dbe7",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "fb61283774847141",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "115fb10c23dc2a21",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "fb61283774847141",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "9924455266f7eab4",
        "type": "ui_spacer",
        "z": "a06c49eaf75bea17",
        "name": "spacer",
        "group": "fb61283774847141",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "adf8529c6d2d149a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pihome.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "614f2a918f5faf20",
        "type": "ui_group",
        "name": "Tension",
        "tab": "d53d14cdc1a3f197",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2c964ab227a94fd",
        "type": "ui_group",
        "name": "température",
        "tab": "d53d14cdc1a3f197",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fc191a1c8d918c1",
        "type": "ui_group",
        "name": "Humidité",
        "tab": "d53d14cdc1a3f197",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb61283774847141",
        "type": "ui_group",
        "name": "Pression",
        "tab": "d53d14cdc1a3f197",
        "order": 4,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d53d14cdc1a3f197",
        "type": "ui_tab",
        "name": "jardin2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
